/* .SearchBox {
    text-align: center;
    margin-bottom: 25px;
} */
/* Centering the content */
.SearchBoxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
  }
  
  .SearchBox {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 300px;
  }
  
  .SearchBox form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  